[Unit]
Description=Sentry Beat Service
After=network.target

[Service]
Type=simple
User=sentry
Group=sentry
WorkingDirectory=/home/sentry
Environment=SENTRY_CONF=/etc/sentry
ExecStart=/usr/bin/sentry celery beat
