[Unit]
Description=Sentry Main Service
After=network.target
Requires=sentry-worker.service
Requires=sentry-cron.service

[Service]
Type=simple
User=sentry
Group=sentry
WorkingDirectory=/home/sentry
Environment=SENTRY_CONF=/etc/sentry
ExecStart=/usr/bin/sentry run web
