[Unit]
Description=Sentry Background Worker
After=network.target

[Service]
Type=simple
User=sentry
Group=sentry
WorkingDirectory=/home/sentry
Environment=SENTRY_CONF=/etc/sentry
ExecStart=/usr/bin/sentry celery worker
